{% extends 'base.html.twig' %}

{% block title %}Movie :{{ movie.title ?? 'Not found' }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    {% if movie.title %}
    <h1>Movie : {{ movie.title }}</h1>

    <ul>
        <li>Id : {{ movie.id }}</li>
        <li>Released at : {{ movie.releasedAt|date('d F Y') }}</li>
        <li>Genre :
            <ul>
            {{ movie.genre|map(genre => genre.name)|join(', ') }}
            </ul>
        </li>
    </ul>
    {% else %}
        <h1>Movie not found.</h1>
    {% endif %}
</div>
{% endblock %}
