{% extends 'base.html.twig' %}

{% block title %}Movie :{{ movie.title ?? 'Not found' }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    {% if movie.title %}
    <h1>Movie : {{ movie.title }}</h1>

    <article class="pt-5">
        <img src="{{ movie.poster }}" alt="{{ movie.title }}" class="float-end">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Id : {{ movie.id }}</li>
            <li class="list-group-item">Imdb Id : {{ movie.imdbId }}</li>
            <li class="list-group-item">Rated : {{ movie.rated }}</li>
            <li class="list-group-item">Released at : {{ movie.releasedAt|date('d F Y') }}</li>
            <li class="list-group-item">Country : {{ movie.country }}</li>
            <li class="list-group-item">Plot : {{ movie.plot }}</li>
            <li class="list-group-item">Genre : {{ movie.genre|map(genre => genre.name)|join(', ') }}</li>
            <li class="list-group-item">Price : {{ (movie.price/100) ~'€'|default('-') }}</li>
            {#<li>Genre : {{ movie.genre|reduce((carry, genre) => carry == '' ? genre.name : carry ~ ', ' ~ genre.name) }}</li>#}
        </ul>
    </article>
        <section class="row pt-5">
            <div class="col-md-6">
                <form method="get" action="{{ path('app_movie_payment', {'paymentType': 'stripe'}) }}">
                    <button class="btn btn-secondary">Stripe</button>
                </form>
            </div>
            <div class="col-md-6">
                <form method="get" action="{{ path('app_movie_payment', {'paymentType': 'paypal'}) }}">
                    <button class="btn btn-secondary">Paypal</button>
                </form>
            </div>
        </section>
    {% else %}
        <h1>Movie not found.</h1>
    {% endif %}
</div>
{% endblock %}
